<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ app_name }}{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="/static/css/styles.css">
<link rel="icon" type="image/svg+xml" href="/static/css/favicon.svg">
</head>
<body class="{% block body_class %}{% endblock %}">
{% block content %}{% endblock %}
<script src="/static/js/htmx.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>